@args Long hits
@extends("base.html", "ChocoServ | Addresses", "addresses")

<div class="ui segment">
    <h3>Chocolate contacts</h3>

    <div class="ui cards">
        <div class="ui card">
            <div class="image">
                <img src="/images/cards/ninja-guy.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
                <div class="meta">
                    <span class="date">Ninja Chocolatier</span>
                </div>
                <div class="description">
                    <ul>
                        <li>Pick up the phone</li>
                        <li>Always home</li>
                        <li>Call him anytime</li>
                    </ul>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="call icon"></i>
                    362-436
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/images/cards/pink-girl.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
                <div class="meta">
                    <span class="date">The Chocolate Receptionist</span>
                </div>
                <div class="description">
                    <ul>
                        <li>P.O. Box 963</li>
                        <li>New York City</li>
                        <li>New York State</li>
                    </ul>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="call icon"></i>
                    101-08
                </a>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/images/cards/secret-agent-girl.jpg">
            </div>
            <div class="content">
                <a class="header">Jenny Hess</a>
                <div class="meta">
                    <span class="date">Chocolate Agent</span>
                </div>
                <div class="description">
                    <ul>
                        <li>Bureau 13</li>
                        <li>Washington D.C.</li>
                    </ul>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="call icon"></i>
                    ???
                </a>
            </div>
        </div>
    </div>
</div>

@section(hits) {
<div class="ui segment">
    <p>Page hits: @hits</p>
</div>
}
