<!DOCTYPE html>
@args String title = "ChocoServ"

<html>
<head>
    <title>@title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>

    @render(header) {
        <!-- Default header -->
    }
</head>
<body>
<div class="wrapper">
    <div class="ui segment">

@render()

    </div>
</div>
</body>
</html>
