<!DOCTYPE html>
@args String title = "ChocoServ", Long hits = 0L, String page = "unknown"

<html>
<head>
    <title>@title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>

    @render(header) {
        <!-- Default header -->
    }
</head>
<body>
<div class="ui large pointing menu">
    @if (page.equalsIgnoreCase("home")) {
        <a class="green active item" href="/"><i class="green home icon"></i> Home</a>
    } else {
        <a class="item" href="/"><i class="home icon"></i> Home</a>
    }

    @if (page.equalsIgnoreCase("addresses")) {
        <a class="green active item" href="/addresses"><i class="green users icon"></i> Addresses</a>
    } else {
        <a class="item" href="/addresses"><i class="users icon"></i> Addresses</a>
    }

    @if (page.equalsIgnoreCase("comments")) {
        <a class="green active item" href="/comments"><i class="green comments icon"></i> Comments</a>
    } else {
        <a class="item" href="/comments"><i class="comments icon"></i> Comments</a>
    }

    @if (page.equalsIgnoreCase("store")) {
        <a class="green active item" href="/store"><i class="green shop icon"></i> Store</a>
    } else {
        <a class="item" href="/store"><i class="shop icon"></i> Store</a>
    }

    @if (page.equalsIgnoreCase("hello")) {
        <a class="green active item" href="/hello"><i class="green copyright icon"></i> Hello</a>
    } else {
        <a class="item" href="/hello"><i class="copyright icon"></i> Hello</a>
    }
</div>

<div class="wrapper">

@render() {
    <div class="ui segment">
        <h1>Page content missing!</h1>

        <img class="ui centered rounded bordered image" src="https://placekitten.com/g/600/400"/>
    </div>
}

@render(hits) {
    <div class="ui segment">
        <p>Page hits: @hits</p>
    </div>
}
</div>
</body>
</html>
