@args Long hits
@extends("base.html","ChocoServ | Home", "home")

<div class="ui segment">
    <h1>Welcome!</h1>

    <p>
        ChocoServ is the leading chocolate-based class project, featuring rapid development and data
        correctness above all else. Our chocolate-fuelled developers enjoy their work and will happily
        spend time making sure <strong>you, dear reader</strong>, have all of their chocolate needs
        met.
    </p>
    <p>
        Feel free to take a browse around the site using the menu above.
    </p>
</div>

@section(hits) {
<div class="ui segment">
    <p>Page hits: @hits</p>
</div>
}
